{% load static %}
<div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="blog-tab">
    <div class="blog section">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Last Post</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <!--item-->
            <div class="col-lg-6 col-md-12">
                <div class="item">
                    <div class="image">
                        <img src="{% static 'assets/img/blog/1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="date">
                            <a href="blog-single.html">02
                                <span class="mb-0 text-white">May</span>
                            </a>
                        </div>

                        <h5 class="title mt-20 mb-20">
                            <a href="blog-single.html" class="text-dark">Best Resources And Tuto To help you learn Graphic Design</a>
                        </h5>

                        <ul class="tags list-inline">
                            <li class="text-muted">#resources</li>
                            <li class="text-muted">#graphic</li>
                            <li class="text-muted">#tuto</li>
                            <li class="text-muted">#design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="col-lg-6 col-md-12">
                <div class="item">
                    <div class="image">
                        <img src="{% static 'assets/img/blog/2.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="date">
                            <a href="blog-single.html">02
                                <span class="mb-0 text-white">May</span>
                            </a>
                        </div>

                        <h5 class="title mt-25 mb-20">
                            <a href="blog-single.html" class="text-dark">How to create Your First UX Design Portfolio?</a>
                        </h5>
                        <ul class="tags list-inline">
                            <li class="text-muted">#portfolio</li>
                            <li class="text-muted">#UX</li>
                            <li class="text-muted">#Design</li>
                            <li class="text-muted">#website</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="col-lg-6 col-md-12">
                <div class="item">
                    <div class="image">
                        <img src="{% static 'assets/img/blog/3.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="date">
                            <a href="blog-single.html">02
                                <span class="mb-0 text-white">May</span>
                            </a>
                        </div>

                        <h5 class="title mt-20 mb-20">
                            <a href="blog-single.html" class="text-dark">Everything You Need to Know About Working From Home </a>
                        </h5>
                        <ul class="tags list-inline">
                            <li class="text-muted">#working</li>
                            <li class="text-muted">#remote</li>
                            <li class="text-muted">#fromhome</li>
                            <li class="text-muted">#info</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="col-lg-6 col-md-12">
                <div class="item">
                    <div class="image">
                        <img src="{% static 'assets/img/blog/4.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="date">
                            <a href="blog-single.html">02
                                <span class="mb-0 text-white">May</span>
                            </a>
                        </div>

                        <h5 class="title mt-20 mb-20">
                            <a href="blog-single.html" class="text-dark">How to Increase Your Productivity in the age of coronavirus</a>
                        </h5>
                        <ul class="tags list-inline">
                            <li class="text-muted">#Productivity</li>
                            <li class="text-muted">#Business</li>
                            <li class="text-muted">#tools</li>
                            <li class="text-muted">#corona</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-20">
            <div class="col-12">
                <!--pagination-->
                <div class="pagination-nav">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>