{% load static %}
<div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="blog-tab">
    <div class="blog section">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Blog</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <!--item-->
            {% for post in blogs %}
            {% if post.is_published %}
            <div class="col-lg-6 col-md-12">
                <div class="item">
                    <a href="">
                        <div class="image">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    </a>
                    <div class="content">
                        <div class="date">
                            <a href="">{{ post.publish_date|date:"d" }}
                                <span class="mb-0 text-white">{{ post.publish_date|date:"M" }}</span>
                            </a>
                        </div>

                        <h5 class="title mt-20 mb-20">
                            <a href="" class="text-dark">{{ post.title }}</a>
                        </h5>

                        <ul class="tags list-inline">
                            {% for tag in post.tags.all|slice:":6" %}
                            <li class="text-muted">#{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        <div class="row mb-20">
            <div class="col-12">
                <!--pagination-->
                <div class="pagination-nav">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>