{% load static %}
<div class="tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
    <div class="portfolio section">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Portfolio</h5>
                </div>
            </div>
        </div>

        <!--items -->
        <div class="inner-items">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!--item 1 -->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/1.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p  class="text-white mb-0">Festival banner</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/1.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html" >
                                            <i class="fas fa-link"></i>
                                        </a>                                                             
                                    </div>
                                </div>          
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <!--item 2-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/2.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p class="text-white mb-0">Logo</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/2.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <!--item 3-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/3.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                <p class="text-white mb-0">Product Design</p>
                                <div class="details d-flex align-items-center ml-auto">
                                    <a href="{% static 'assets/img/portfolio/3.jpg' %}" class="view-work">
                                        <i class="fas fa-images"></i>
                                    </a>
                                    <a href="portfolio-single.html">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <!--item 4-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/4.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p class="text-white mb-0">Festival banner</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/4.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--item 5-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/5.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p class="text-white mb-0">Logo</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/5.jpg' %}" class="view-work">
                                                <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <!--item 6-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/6.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p class="text-white mb-0">Product Design</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/6.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--item 7-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/7.jpg' %}" alt="">
                                <div class="overly">
                                    <div class="info d-flex align-items-center">
                                        <p class="text-white mb-0">Festival Banner</p>
                                        <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/7.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--item 8-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/8.jpg' %}" alt="">
                            <div class="overly">
                                <div class="info d-flex align-items-center">
                                    <p class="text-white mb-0">Logo</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/8.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--item 9-->
                    <div class="item">
                        <div class="image">
                            <img src="{% static 'assets/img/portfolio/9.jpg' %}" alt="">
                            <div class="overly"> 
                                <div class="info d-flex align-items-center">                                                                            
                                    <p class="text-white mb-0">Product Design</p>
                                    <div class="details d-flex align-items-center ml-auto">
                                        <a href="{% static 'assets/img/portfolio/9.jpg' %}" class="view-work">
                                            <i class="fas fa-images"></i>
                                        </a>
                                        <a href="portfolio-single.html">
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>