{% load static %}
<div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
    <div class="resume section">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>My Resume</h5>
                </div>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-lg-6">
                <div class="timeline">
                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Professional Graphic Designer</h6>
                            <small class="base-color">2019 - present</small>
                            <p class="text-dark mt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandaesint dolor illo officia dignissimos.</p>
                        </div>
                    </div>

                    <!--item 2-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Frontend-developer</h6>
                            <small class="base-color">2015 - 2019</small>
                            <p class="text-dark pt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>

                    <!--item 3-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Graphic Designer</h6>                                                                                                   
                            <small class="base-color">2013 - 2015</small>
                            <p class="text-dark pt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline">
                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Academic Degree</h6>
                            <small class="base-color">2010 - 2013</small>
                            <p class="text-dark pt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>

                    <!--item 2-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Bachelor’s Degree</h6>
                            <small class="base-color">2008 - 2010 </small>
                            <p class="text-dark pt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>
                    <!--item 3-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-10">Specialization Course</h6>
                            <small class="base-color">2005 - 2008 </small>
                            <p class="text-dark pt-10 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium
                                aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--skills-->
        <div class="row ">
            <div class="col-md-12">
                <div class="section-sub-title mb-15">
                    <h6>My Skills</h6>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-lg-6">
                <div class="skills">
                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Photoshop</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                                <span>92%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Illustrator</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Adobe XD </p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Figma</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skills">
                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">Javascript</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                                <span>92%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">React</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">CSS </p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <p class="text-dark font-w-600 mb-5">HTML </p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-12">
                <a href="#" class="btn-custom">
                    <span>
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Downland My CV</span>
                </a>
            </div>
        </div>
    </div>
</div>